<div id="container">
  <nav>
    <div class="menu">
      <img src="assets/logo.png" />
      <p><%= link_to "eH... ¿qué es esto?", about_url %></p>
      <p>
        <%- if session[:user_id] -%>
          <%= link_to "salí", logout_url, :method => :delete %>
        <% else %>
          <%= mail_to("svankie@gmail.com", "-> @", subject: "ACK", encode: "javascript") %>
        <%- end -%>
      </p>
      <p><%= link_to "._. .·°", "#", :title => "going out is a timeless desire" %></p>
    </div>
  </nav>
  <div class="stream"></div>
</div>
