<div id="container">
  <nav>
    <div class="menu">
      <img src="assets/logo.png" title="na bronk"></img>
      <p>
        <a href="#">¿qué?</a>
      </p>
    </div>
  </nav>
  <div class="stream">
    <% unless @thangs_by_date.blank? %>
      <% @thangs_by_date.each_pair do |date, thangs| %>
      <h3><%= date.strftime("%d/%m/%Y") %></h3>
      <% if thangs.blank? %>
        <p>Today's lame.</p>
      <% else %>
        <ul>
          <% thangs.each do |thang| %>
          <li><h4><%= link_to thang.what, thang_path(thang.id) %><h4></li>
          <% end %>
        </ul>
      <% end%>
    <% end %>
    <% end %>
  </div>
</div>
