<div id="container">
  <nav>
    <div class="menu">
      <img src="assets/logo.png" title="na bronk"></img>
      <p>
        <a href="#">¿qué?</a><br>
        <%- unless session[:user_id] -%>
          <%= link_to "cellar door", login_url %>
        <% else %>  
          <%= link_to "get outta here", logout_url, :method => :delete %>
        <%- end -%>
      </p>
    </div>
  </nav>
  <div class="stream">
    <% unless @thangs_by_date.blank? %>
      <% @thangs_by_date.each_pair do |date, thangs| %>
      <h2><%= date.strftime("%d/%m/%Y") %></h2>
      <% if thangs.blank? %>
        <p>Today's lame.</p>
      <% else %>
        <ul>
          <% thangs.each do |thang| %>
          <li><h3><%= link_to thang.what, thang_path(thang.id), title: thang.description %><h3></li>
          <% end %>
        </ul>
      <% end%>
    <% end %>
    <% end %>
  </div>
</div>
