<div id="container">
  <nav>
    <div class="menu">
      <img src="assets/logo.png" title="na bronk"></img>
      <p>
        <a href="#">¿qué?</a>
      </p>
    </div>
  </nav>
  <div class="stream">
    <% unless @thangs.blank? %>
    <ul>
      <% @thangs.each do |thang| %>
      <li><%= link_to thang.what, thang_path(thang.id) %></li>
      <% end %>
    </ul>
    <% end%>
  </div>
</div>
