// I HAVE NO LEGS
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  position: fixed;
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.menu {
  margin-top: 32.5px;
  margin-left: 25%;
}

.menu a {
  text-decoration: none;
}

.menu > p {
  text-align: right;
  margin-right: 60px;
}

.stream {
  margin-left: 20%;
  margin-top: 16.5px;
  display: inline-block;
  vertical-align: top;
  width: 77.5%;
}

div.unit {
  margin: 35px auto;
}

div.unit a {
  text-decoration: none;
  color: black;
  &:visited {
    color: grey;
    background-color: ivory;
  }
  &:hover {
    color: skyblue;
    background-color: beige;
  }
}

div.unit .header {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
}

div.details {
  margin-top: 2px;
}

div.unit div.details span {
  font-weight: bold;
}
