// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgb(236, 232, 221);
}

nav {
  position: fixed;
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.menu {
  margin-top: 32.5px;
  margin-left: 25%;
}

.menu > img {
  border: 2px solid lightblue;
}

.menu a {
  text-decoration: none;
}

.menu > p {
  text-align: right;
  margin-right: 60px;
}

.stream {
  margin-left: 20%;
  display: inline-block;
  vertical-align: top;
  width: 77.5%;
}

.stream > ul {
  list-style-type: none;
}

.stream a {
  text-decoration: none;
  color: black;
}

.stream a:visited {
  color: rgb(92, 92, 92);
  background-color: rgb(237, 237, 237);
}

.kool {
  display: inline-block;
  width: 100%;
  height: 300px;
  margin-bottom: 2em;
  margin-left: .5em;
}

.kool > .flyer {
  border: 1px solid black;
  display: inline-block;
  height: 100%;
  width: 30%;
}

.kool > .meta {
  background: rgba(7, 6, 6, .1);
  border: 1px solid black;
  display: inline-block;
  height: 100%;
  width: 60%;
}

.meta > div {
  display: inline-block;
  height: 100%;
}

.what {
  vertical-align: top;
  width: 40%;
  margin-left: 5px;
  text-align: center;
}

.what > h2 {
  margin-top: 17.5%;
}
